<!--div class="container">
  <div class="row">
    <div class="col-md-6">
    <div class="card"-->
      <body>
      <div class="text-center">
        <h1>Details of Restaurant </h1>
      </div>

        <table class="table primary" >
        <thead>
          <tr>
            <th scope="col">Registration No</th>
            <th scope="col">Restaurant Name</th>
            <th scope="col">Addresss</th>
            <th scope="col">Email-Id</th>
            <th scope="col">Phone-Number</th>
            <th scope="col">Location</th>
          </tr>
         </thead>
        <tbody>
          <tr *ngFor = "let cl of collection">
            <td>{{cl.Reg_No}}</td>
            <td>{{cl.Restaurant_Name}}</td>
            <td>{{cl.Address}}</td>
            <td>{{cl.Email_Id}}</td>
            <td>{{cl.Phone_No}}</td>
            <td>{{cl.City}}</td>
            <td><i class="fa fa-edit" style="font-size:30px;color:red"></i>&nbsp;&nbsp;
            <i class="fa fa-trash" style="font-size:30px;color:red"></i></td>
         </tbody>
      </table>
    </body>
    